body {
  margin: 0;

  background-color: #f7f7f7;
  font-family: "Jost", sans-serif;
  color: #05060f;
}

* {
  box-sizing: border-box;
}
h1 {
  margin: 0px;
  font-size: 58px;
  font-weight: 600;
  line-height: normal;
}

h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

a {
  letter-spacing: normal;
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
  span {
    margin: 0;
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity ease-in-out 0.3s;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    padding: 20px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fff;
    max-width: 549px;
    height: auto;
    top: 50%;
    margin: auto;
    left: 200px;
    z-index: 2;
    padding: 64px;
    margin-top: auto;
  }

  /* The Close Button */
  .close {
    cursor: pointer;
    border: none;
    padding: 16px;
    background-color: #f5f7fa;
    color: #05060f;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 24px 20px;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #phone {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #telegram {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #name {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #number {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #email {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #name:focus-visible {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
  }

  /*  */

  * {
    box-sizing: border-box;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 24px;
    padding: 12px 24px;
    position: absolute;
    z-index: 1;
    bottom: -1000%;
    left: 78%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 140px;
  }

  /* Navigation */
  .mobile-menu {
    display: none;
  }

  .menu-items {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-inner {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav-item {
    display: flex;
    gap: 16px;
  }

  .nav-item a {
    font-size: 16px;
    font-weight: 400;
  }

  .nav-item a:hover {
    color: #05060f;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
  }

  .btn-kons {
    background-color: #f5f7fa;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  /* footer */

  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
  }

  /*footer */

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ff3b30;
    background-image: url(/img/abstract/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px;
    border-radius: 24px;
    gap: 20px;
  }

  button {
    width: fit-content;
  }

  .title {
    font-size: 80px;
    color: #fff;
    line-height: normal;
    font-weight: 700;
    text-align: center;
  }
  .subtitle {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    max-width: 737px;
  }

  .bg-1 {
    background-color: #fff;
    color: #333333;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0;
    font-size: 82px;
    line-height: normal;
  }
  .bg-2 {
    background-color: #fa9ecc;
    color: #fff;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-3 {
    background-color: #3abd3c;
    color: #fff;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-4 {
    background-color: #ff6b31;
    color: #fff;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-5 {
    background-color: #fbc401;
    color: #fff;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }

  .btn-container {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
  }

  .about {
    display: flex;
    gap: 16px;
    border: 1px solid #1019280f;
    border-radius: 32px;
    padding: 32px;
    align-items: center;
  }

  .about p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .about-block-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .about-block-2-id1 {
    display: flex;
    gap: 16px;
  }

  .about-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 24px;
    padding: 16px 24px;
  }

  #submit {
    width: 100%;
  }

  /* Buttons */
  .btn-login {
    background: #ffffff1a;
    padding: 20px 20px;
    color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
    border-radius: 24px;
  }
  .btn-free {
    background-color: #fff;
    padding: 20px 20px;
    color: #333;
    box-shadow: 0px 4px 25px 0px #56565633;
    font-size: 16px;
    font-weight: 600;
    border: none;
    text-align: center;
    border-radius: 24px;
  }

  .btn-free:hover {
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    transform: rotate(2.5deg);
    font-weight: 700;
    border: none;
    text-align: center;
  }

  .btn-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #e5f33c;
    transition: all 0.3s ease-out 0s;
    text-align: center;
    color: #333;
    font-weight: 500;
    font-size: 24px;
    border-radius: 250px;
    width: 250px;
    height: 250px;
  }
  .btn-contact img {
    width: 55px;
  }

  .btn-contact:hover {
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s ease-out 0s;
    transform: rotate(3.5deg);
    font-weight: 500;
    color: #333;
  }

  /* services */
  .services {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 24px;
  }

  .services-wrapper {
    display: flex;
    width: 200%;
    animation: run-ser 20s linear infinite;
    align-items: center;
  }

  .services-card {
    padding: 12px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
  }

  @keyframes run-ser {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /* services */

  /* Why-us */
  .Why-us-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px;
  }

  .Why-us {
    display: flex;
    gap: 16px;
  }

  .Why-us-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    border: 1px solid rgba(5, 6, 15, 0.1);
    border-radius: 24px;
  }
  /* Why-us */

  .work {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px;
    gap: 20px;
  }

  .work-container {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .workit-block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(16, 25, 40, 0.1);
    padding: 20px;
    gap: 12px;
    border-radius: 24px;
    width: 47%;
  }
  .work-card-1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(16, 25, 40, 0.1);
    padding: 20px;
    gap: 16px;
    width: 50%;
    border-radius: 24px;
    height: fit-content;
  }

  .price {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
  }

  .tarif {
    display: flex;
    flex-direction: column;
    background-color: #ff6b31;
    padding: 40px;
    gap: 20px;
    background-image: url(/img/tarif.svg);
    border-radius: 24px;
  }
  .tarif-title,
  .tarif-subtitle {
    color: #fff;
  }

  .tutors {
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    padding: 64px;
    gap: 16px;
    background-image: url(/img/tutor.svg);
  }

  .tarif-block {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .tutor-block {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .tarif-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #14151d1a;
    padding: 20px;
    border-radius: 24px;
  }

  .tutor-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    border: 1px solid #14151d1a;
    padding: 24px;
    height: fit-content;
  }

  .img-tutor1 {
    background-image: url(/img/tuto1.png);
    background-size: cover;
    border-radius: 24px;
    width: 85px;
    height: 85px;
    border-radius: 85px;
  }

  .img-tutor2 {
    background-image: url(/img/tutor2.png);
    background-size: cover;
    border-radius: 24px;
    width: 85px;
    height: 85px;
    border-radius: 85px;
  }

  .img-tutor3 {
    background-image: url(/img/tutor3.png);
    background-size: cover;
    border-radius: 24px;
    width: 85px;
    height: 85px;
    border-radius: 85px;
  }

  /* Отзывы */
  .reviews {
    padding: 40px 40px;
    gap: 20px;
  }
  .reviews-video {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .child {
    flex: 1 1 auto;
  }
  .child:nth-child(1),
  .child:nth-child(2) {
    flex: 0 0 49%;
    display: flex;
    flex-direction: row;
  }
  .child:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .child:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .child:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .child:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .child:nth-child(5) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }
  .child:nth-child(6) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  video {
    border-radius: 24px;
    object-fit: cover;
    width: 100%;
    height: 238px;
  }

  /* Отзывы */

  /* FAQ */
  .faq {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px;
  }

  .question {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    cursor: pointer;
    max-width: 660px;
    border: 1px solid rgba(5, 6, 15, 0.1);
    border-radius: 24px;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .question1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* FAQ */

  /* Остались вопросы? */
  .questions {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid rgba(5, 6, 15, 0.1);
    align-items: center;
    padding: 40px;
    background-image: url(/img/abstract/quaestions.svg);
    border-radius: 24px;
    box-shadow: 0px 4px 25px 0px #56565633;
  }
  /* Остались вопросы? */

  .menu-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #333;
    color: #fff;
  }

  .menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-items li {
    margin: 10px 0;
  }

  .menu-items a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .menu-items a:hover {
    background: #f1f1f1;
  }

  .menu-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #333;
    color: #fff;
  }

  .menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-items li {
    margin: 10px 0;
  }

  .menu-items a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .menu-items a:hover {
    background: #f1f1f1;
  }
}

@media only screen and (max-width: 768px) {
  /* CSS for the form modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Modal Content/Box */
  .modal-content {
    padding: 16px;
    background-color: #fff;
    margin: 0% auto;
    height: 100vh;
  }

  /* The Close Button */
  .close {
    cursor: pointer;
    border: none;
    padding: 16px;
    background-color: #f5f7fa;
    color: #05060f;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #phone {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #telegram {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #name {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #number {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #email {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
  }

  #name:focus-visible {
    border: none;
    padding: 16px;
    border-bottom: 1px solid #dedede;
  }

  /*  */
  h1 {
    margin: 0px;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
  }

  h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }

  h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 10px 0px;
  }

  /* Mobile menu */

  .menu-items.open {
    display: block;
    box-shadow: 1px 1px 10px 20px hsl(0deg 0% 83% / 16%);
  }

  .menu-toggle {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }

  .burger-icon {
    background: #fff;
    padding: 10px;
    border-radius: 24px;
  }

  .menu-items {
    display: none;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateY(0px) translateX(0px);
    transition: transform 400ms ease 0s;
  }

  .menu-items li {
    margin: 10px 0;
  }

  .menu-items a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  /* Mobile menu */

  .navigation {
    display: none;
  }

  .burger-icon-bar {
    width: 10px;
    height: 2px;
    background-color: #101928;
    margin: px 0;
  }

  .navigation {
    list-style: none;
    background-color: #333;
    text-align: center;
  }

  .navigation li {
    display: inline-block;
  }

  .navigation a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
  }

  .navigation a:hover {
    background-color: #444;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ff6b31;
    color: #fff;
    padding: 16px;
    background-image: url(/img/header.svg);
    background-repeat: no-repeat;
    background-position: center;
    gap: 32px;
    border-radius: 24px;
  }

  .nav {
    display: none;
  }

  .title {
    font-size: 32px;
    line-height: normal;
    font-weight: 700;
  }
  .subtitle {
    font-size: 16px;
    line-height: normal;
  }
  .bg-1 {
    background-color: #fff;
    color: #333333;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-2 {
    background-color: #fa9ecc;
    color: #fff;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-3 {
    background-color: #3abd3c;
    color: #fff;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-4 {
    background-color: #ff6b31;
    color: #fff;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }
  .bg-5 {
    background-color: #fbc401;
    color: #fff;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 0;
    line-height: normal;
  }

  .btn-test {
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
    border: 2px solid #14151d;
    padding: 12px 24px;
    border-radius: 24px;
    height: fit-content;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    box-shadow: 3px 3px 0px 0px #14151d;
    width: fit-content;
  }

  .btn-contact {
    background-color: #e5f33c;
    text-align: center;
    padding: 20px 24px;
    color: #05060f;
    font-weight: 500;
    width: 100%;
  }

  .price {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 12px;
    border: 1px solid #1019280f;
    border-radius: 24px;
  }

  .about-block-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .work-card-1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(16, 25, 40, 0.1);
    padding: 16px;
    gap: 16px;
    height: fit-content;
    border-radius: 24px;
  }

  .about-block-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .about-block-2-id1 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }

  .about-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 32px;
    padding: 12px 24px;
  }

  .btn-container {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .btn-free {
    text-align: center;
    background-color: #fff;
    padding: 20px 24px;
    color: #333;
    box-shadow: 0px 4px 25px 0px #56565633;
    font-size: 16px;
    border-radius: 30px;
    line-height: normal;
    font-weight: 600;
    border: none;
  }

  /* services */
  .services {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 24px;
  }

  .services-wrapper {
    display: flex;
    width: 200%;
    animation: run-ser 20s linear infinite;
    align-items: center;
  }

  .services-card {
    padding: 12px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
  }

  @keyframes run-ser {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /* services */

  /* Why-us */
  .Why-us-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .Why-us {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .Why-us-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px 16px 16px;
    border-radius: 24px;
    gap: 16px;
    border: 1px solid rgba(5, 6, 15, 0.1);
  }

  /* Why-us */

  /*work */

  .work {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .work-container {
    display: flex;
    gap: 32px;
    overflow-x: scroll;
  }
  .work-container img {
    width: 100%;
  }

  .workit-block {
    display: flex;
    gap: 16px;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    width: 243px;
    border-radius: 24px;
  }

  .how-to-start {
    display: flex;
    background-color: #f1f9fb;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
  }

  .tarif-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tarif {
    display: flex;
    flex-direction: column;
    background-color: #ff6b31;
    border-radius: 24px;
    padding: 16px;
    gap: 16px;
  }

  .tarif-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 24px;
    align-items: center;
    background-color: #f7f7f7;
    padding: 16px;
  }

  .container-package {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .package-card {
    border-radius: 24px;
    padding: 12px;
    border: 1px solid rgba(5, 6, 15, 0.1);
    width: fit-content;
  }

  .adult {
    background-image: url(/img/tarif/adult.jpg);
    background-size: cover;
    width: 100%;
    height: 140px;
    border-radius: 24px;
  }

  .child {
    background-image: url(/img/tarif/child.jpg);
    background-size: cover;
    width: 100%;
    height: 140px;
    border-radius: 24px;
  }

  .group {
    background-image: url(/img/tarif/group.jpg);
    background-size: cover;
    width: 100%;
    height: 140px;
    border-radius: 24px;
  }

  .tutors {
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    padding: 16px;
    background-image: url(/img/tutor.svg);
    gap: 16px;
  }

  .tutor-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tutor-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    border: 1px solid #14151d1a;
    padding: 16px;
    min-width: 238px;
    height: fit-content;
  }

  .img-tutor1 {
    background-image: url(/img/tuto1.png);
    background-size: cover;
    border-radius: 24px;
    width: 79px;
    height: 79px;
    border-radius: 79px;
  }

  .img-tutor2 {
    background-image: url(/img/tutor2.png);
    background-size: cover;
    border-radius: 24px;
    width: 79px;
    height: 79px;
    border-radius: 79px;
  }

  .img-tutor3 {
    background-image: url(/img/tutor3.png);
    background-size: cover;
    border-radius: 24px;
    width: 79px;
    height: 79px;
    border-radius: 79px;
  }

  .children {
    width: 100%;
  }

  .avatar-clients {
    width: 48px;
    height: 48px;
  }

  .avatar-block {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  /* Отзывы */
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .reviews-video {
    overflow-x: scroll;
    display: flex;
    gap: 20px;
  }
  .child {
    flex: 0 0 auto;
  }
  .child:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    width: fit-content;
    height: fit-content;
  }
  .child:nth-child(2),
  .child:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
  }

  .child:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    width: fit-content;
    height: fit-content;
  }

  .child:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    width: fit-content;
    height: fit-content;
  }

  .child:nth-child(5) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    width: fit-content;
    height: fit-content;
  }
  .child:nth-child(6) {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px #56565633;
    width: fit-content;
    height: fit-content;
  }

  .vidik {
    border-radius: 24px;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

  /* Отзывы */

  /* FAQ */
  .faq {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .question {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #14151d1a;
    padding: 16px;
    cursor: pointer;
  }

  .question1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* FAQ */

  /* Any more questions? */
  .questions {
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-image: url(/img/questions.svg);
    width: 100%;
    border-radius: 24px;
    border: 1px solid #14151d1a;
  }
  .questions h1,
  h2 {
    color: #333;
  }
  .questions a {
    width: 100%;
  }

  /* Any more questions? */

  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    margin: 0 auto;
    padding: 16px;
    align-items: flex-start;
  }

  .footer-botoom-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /*footer */
}
